<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bode.Sms.Md.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Bode.Sms.Md.Properties.Settings>
            <setting name="Bode_Plugin_Sms_Md_sms_md_sdk_WebService" serializeAs="String">
                <value>http://sdk.entinfo.cn:8060/webservice.asmx</value>
            </setting>
        </Bode.Sms.Md.Properties.Settings>
    </applicationSettings>
</configuration>