@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string toolbarItem = ViewBag.ToolbarItem ?? "add,edit,save,cancel,delete";
}
@section header{
    <link href="~/Content/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}

@section footer{
    <script src="~/Content/js/osharp/osharp.datatable.js"></script>
    <script src="~/Content/js/toastr/toastr.js"></script>
    <script src="~/Content/js/bootbox/bootbox.js"></script>
    <script src="~/Content/js/select2/select2.js"></script>
    <script src="~/Content/js/datetime/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/js/datetime/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript">
        var dataTable;
        var columns = [];

        var startfunction = function() {};
        var endfunction = function() {};
        var addObject = function() {
            return {};
        };
    </script>
    @*@RenderSection("customScript", true)*@

    @*Test*@
    <script type="text/javascript">
        columns = [
            { data: "Id", title: "编号" },
            { data: "UserName", title: "用户名称", type: "text", search: true, editor: {}, validation: { required: true } },
            { data: "NickName", title: "用户昵称", type: "text", search: true, editor: {} },
            { data: "Email", title: "电子邮箱", type: "text", search: true, editor: {} },
            { data: "IsLocked", title: "是否锁定", type: "switch", search: true, editor: {} },
            {
                data: "CreatedTime",
                title: "创建时间",
                type: "datetime",
                search: true
            },
            {
                data: "Id",
                title: "操作选项",
                type: "opt",
                format: function(id) {
                    return '<a href="javascript:setRole(' + id + ')">设置角色</a>';
                }
            }
        ];
    </script>



    <script type="text/javascript">
        var tabModule = angular.module('tab', [], angular.initHttpHeader);

        tabModule.filter('to_trusted', function($sce) {
            return function(text) {
                return $sce.trustAsHtml(text);
            }
        });

        //tabModule.directive('tabPage', function factory(injectables) {
        //    var directiveDefinitionObject = {
        //        priority: 0,
        //        template: '<div></div>',
        //        templateUrl: 'directive.html',
        //        replace: false,
        //        transclude: false,
        //        restrict: 'A',
        //        scope: false,
        //        compile: function compile(tElement, tAttrs, transclude) {
        //            return {
        //                pre: function preLink(scope, iElement, iAttrs, controller) { ... },
        //                post: function postLink(scope, iElement, iAttrs, controller) { ... }
        //            }
        //        },
        //        link: function postLink(scope, iElement, iAttrs) { ... }
        //    };
        //    return directiveDefinitionObject;
        //});


        tabModule.controller('tabCtrl', function($scope, $http) {
            $scope.Columns = columns;
            //查询
            $scope.fnSearch = function() {
                //$scope.Data.Rows[0].Email = "czxc";
            }

            //新增按钮点击事件
            $scope.fnAdd = function() {

            }

            //编辑按钮点击事件
            $scope.fnEdit = function () { }

            //删除按钮点击事件
            $scope.fnDelete=function(){}


            //数据行鼠标进入事件
            $scope.fnMouseEnter = function(e) {
                if ($(e.currentTarget).hasClass("tr-selected")) return;
                $(e.currentTarget).addClass('tr-hover');
            }
            //数据行鼠标移除事件
            $scope.fnMouseLeave = function(e) {
                $(e.currentTarget).removeClass("tr-hover");
            }
            //数据行鼠标点击事件
            $scope.fnClick = function(e) {
                $(".tr-selected").removeClass("tr-selected");
                $(e.currentTarget).removeClass("tr-hover");
                $(e.currentTarget).addClass("tr-selected");
            }
            //数据展示格式化
            $scope.fnDisplayFormat = function(col, data) {
                if (typeof (col.format) === "function") {
                    return col.format(data);
                } else if (col.type === "combobox" || col.type === "switch") {
                    var source = col.source;
                    var valueField = source.valueField || "value";
                    var textField = source.textField || "text";
                    for (var i = 0, sLen = source.data.length; i < sLen; i++) {
                        if (source.data[i][valueField] === data[col.data]) {
                            return source.data[i][textField];
                        }
                    }
                    return "";
                } else if (col.type === "img") {
                    return "<img src='" + data[col.data] + "' style='width:150px;height:150px;'>";
                } else if (col.type === "datetime") {
                    return $.osharp.tools.formatDate(data[col.data]);
                } else {
                    return data[col.data].toString();
                }
            };
            //数据加载

            $scope.fnLoad = function() {
                $http.get("@Url.Action("GetUserData", "Identity")").success(function(data) {
                    $scope.Data = data;
                });
            }
            $scope.fnLoad();
        });
    </script>

    <style type="text/css">
        .form-group {
            margin-bottom: 0;
        }

        .tr-selected {
            background-color: #4ACAE7;
            color: #ffffff;
        }

        .tr-hover {
            background-color: #E5F8FD;
        }

        .query-input {
            height: 32px;
            line-height: 32px;
            width: 30%;
            vertical-align: middle;
        }
    </style>
}

@*@RenderSection("headHtml", false)*@

<div class="page-container" ng-app="tab" ng-controller="tabCtrl">
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="widget flat radius-bordered">
                    <div class="widget-header bg-info">
                        <span class="widget-caption"><strong>@ViewBag.Title</strong></span>
                        <div class="widget-buttons">
                            <a href="#" data-toggle="collapse">
                                <i class="fa fa-minus"></i>
                            </a>
                            <a href="#" data-toggle="dispose">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div role="grid" id="editabledatatable_wrapper" class="dataTables_wrapper form-inline no-footer">
                            <div class="row" style="padding-bottom: 10px;">
                                <div class="col-sm-4">
                                    <select style="width: 25%"></select>
                                    <select style="width: 25%"></select>
                                    <input type="text" class="query-input">
                                    <a class="btn btn-info btn-sm icon-only" href="javascript:void(0);"><i class="fa fa-plus-square-o"></i></a>
                                </div>

                                <div class="col-sm-8">
                                    <div class="form-group" style="float: right" id="operateArea">
                                        <div class="pull-right">
                                            <button id="btDelete" class="btn btn btn-darkorange" ng-click="fnDelete()">
                                                <span class="fa fa-trash-o" aria-hidden="true"></span>删 除
                                            </button>
                                        </div>
                                        <div class="pull-right" style="margin-right: 10px;">
                                            <button id="btEdit" class="btn btn-sky" ng-click="fnEdit()">
                                                <span class="fa fa-edit" aria-hidden="true"></span>编 辑
                                            </button>
                                        </div>
                                        <div class="pull-right" style="margin-right: 10px;">
                                            <button id="btAdd" class="btn btn-palegreen" ng-click="fnAdd()">
                                                <span class="fa fa-plus" aria-hidden="true"></span> 新 增
                                            </button>
                                        </div>
                                        <div class="pull-right" style="margin-right: 10px;">
                                            <button id="btSearch" class="btn btn-info" ng-click="fnSearch()">
                                                <span class="fa fa-search" aria-hidden="true"></span>查 询
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered dataTable no-footer" id="dataTable" aria-describedby="editabledatatable_info">
                                <thead>
                                <tr>
                                    <th ng-repeat="col in Columns">{{col.title}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in Data.Rows" ng-mouseover="fnMouseEnter($event)" ng-mouseleave="fnMouseLeave($event)" ng-click="fnClick($event)">
                                        <td ng-repeat="col in Columns" ng-bind-html="fnDisplayFormat(col,data)|to_trusted"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*@RenderBody()*@
@*@RenderSection("footHtml", false)*@
