<?xml version="1.0" encoding="utf-8" ?>
<osharp xmlns="http://file.osharp.org/schemas/osharp.xsd">
  <data>
    <contexts>
      <context name="default" enabled="true" dataLoggingEnabled="true" connectionStringName="default" readConnectionStringNames="default_slave1,default_slave2" type="OSharp.Core.Data.Entity.DefaultDbContext, OSharp.Core.Data.Entity">
        <initializer type="OSharp.Core.Data.Entity.DefaultDbContextInitializer, OSharp.Core.Data.Entity"  mapperFiles="Bode.Services.Implement">
          <!--<createInitializer type="OSharp.Demo.Data.CreateDatabaseIfNotExistsWithSeed,Bode.Services.Core"/>-->
        </initializer>
      </context>
      <context name="logging" enabled="true" dataLoggingEnabled="false" connectionStringName="default" type="OSharp.Core.Data.Entity.Logging.LoggingDbContext, OSharp.Core.Data.Entity">
        <initializer type="OSharp.Core.Data.Entity.Logging.LoggingDbContextInitializer, OSharp.Core.Data.Entity" mapperFiles="OSharp.Core.Data.Entity"/>
      </context>
      <!--<context name="mysql-default" enabled="true" dataLoggingEnabled="true" connectionStringName="mysql-default" type="OSharp.Core.Data.Entity.DefaultDbContext, OSharp.Core.Data.Entity">
        <initializer type="OSharp.Core.Data.Entity.MySqlDefaultDbContextInitializer,OSharp.Core.Data.Entity.MySql" mapperFiles="Bode.Services.Implement"/>
      </context>
      <context name="mysql-logging" enabled="true" dataLoggingEnabled="false" connectionStringName="mysql-logging" type="OSharp.Core.Data.Entity.Logging.LoggingDbContext, OSharp.Core.Data.Entity">
        <initializer type="OSharp.Core.Data.Entity.MySqlLoggingDbContextInitializer,OSharp.Core.Data.Entity.MySql" mapperFiles="OSharp.Core.Data.Entity"/>
      </context>-->
    </contexts>
  </data>
  <logging>
    <entry enabled="true" level="Debug"/>
    <basic>
      <adapters>
        <adapter name="log4net" enabled="true" type="OSharp.Logging.Log4Net.Log4NetLoggerAdapter, OSharp.Logging.Log4Net"/>
      </adapters>
    </basic>
  </logging>
</osharp>