<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bode.Adapter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Bode.Adapter.Properties.Settings>
            <setting name="OSharp_Adapter_md_sms_sdk_WebService" serializeAs="String">
                <value>http://sdk.entinfo.cn:8060/webservice.asmx</value>
            </setting>
        </Bode.Adapter.Properties.Settings>
    </applicationSettings>
</configuration>